
<button (click)="onSubmit();"> send</button>
<form class="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field">
      <input matInput type="text" name="first_name" [(ngModel)]="first_name" placeholder="First Name">
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput type="text" name="last_name" [(ngModel)]="last" placeholder="Last Name">
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput type="password" name="password" [(ngModel)]="password" placeholder="Password">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Sign Up</button>
  </form>
  